<div class="screenBackground">

    <h1 class="hOne">Vita</h1>


    <section id="timeline">


        <div class="tl-item">


            <div class="tl-bg"></div>
            <div class="tl-year">
                <p>2008</p>
            </div>

            <div class="tl-content">
                <h1>Studium</h1>
                <p>Medieninformatik (B.Sc.) , <br> an der Beuth-Hochschule für Technik Berlin</p>
            </div>

        </div>


        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p class=>2012</p>
            </div>

            <div class="tl-content">
                <h1>Pflichtpraktikum</h1>
                <h3>Helmut Ziegler</h3>

                <p> Betreuung der Webseite</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2013</p>
            </div>

            <div class="tl-content">
                <h1>Pausiert</h1>
                <p>Wegen einer schwerwiegenden Erkrankung. <br>Mittlerweile komplett geheilt</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p class=>2018</p>
            </div>

            <div class="tl-content">
                <h1>Bachelorarbeit</h1>
                <p>Portierung einer bestehenden Webseite in ein CM-System</p>
            </div>

        </div>



        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2019</p>
            </div>

            <div class="tl-content">
                <h1>Projektmanagerin <br>IT - Einführung</h1>
                <h3>Physiotherapiepraxis Peniello</h3>

                <li>Digitalisierung der Arbeitsplätze und Einführung von EDV für <br> das gesamte Unternehmen.</li> <br>
                <li>Verantwortung für die komplette Buchhaltung.
                </li>
            </div>

        </div>



        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2020</p>
            </div>

            <div class="tl-content">
                <h1>Betreuung der ECommerce-Plattform
                </h1>
                <h3>Fussmattenprofi.com</h3>
                <li>Webseiten Betreuung
                </li> <br>
                <li>Verantwortung für die Buchhaltung.
                </li> <br>
                <li>Personalverantwortung</li>
            </div>

        </div>


        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2021</p>
            </div>

            <div class="tl-content">
                <h1> Schulung </h1>
                <h3>Developer AKademie</h3>
                <p>Erlernen neuer Webtechnologien </p>
            </div>

        </div>
    </section>

</div>