<div class="screenBackground">

    <h1 class="hOne">Vita</h1>


    <section id="timeline">


        <div class="tl-item">


            <div class="tl-bg"></div>
            <div class="tl-year">
                <p>2008</p>
            </div>

            <div class="tl-content">
                <h1>Studium</h1>
                <p>Medieninformatik (B.Sc.) , <br> an der Beuth-Hochschule für Technik Berlin</p>
            </div>

        </div>


        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p class=>2012</p>
            </div>

            <div class="tl-content">
                <h1>Pflichtpraktikum</h1>
                <p>Helmut Ziegler</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2013</p>
            </div>

            <div class="tl-content">
                <h1>Pausiert</h1>
                <p>Wegen einer schwerwiegenden Erkrankung. <br>Mittlerweile komplett geheilt</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p class=>2018</p>
            </div>

            <div class="tl-content">
                <h1>BAchelorarbeit</h1>
                <p>CMS Joomla</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2019</p>
            </div>

            <div class="tl-content">
                <h1>Vertretung</h1>
                <p>IT-Büromanagement <br>Bicer GmBh</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2019</p>
            </div>

            <div class="tl-content">
                <h1>Vertretung</h1>
                <p>IT - Büromanagement <br>Fahrschule</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2020</p>
            </div>

            <div class="tl-content">
                <h1>AushilfsKraft</h1>
                <p>IT-Büromanagement <br>Physiotherapiepraxis</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2020</p>
            </div>

            <div class="tl-content">
                <h1>Webmaster</h1>
                <p>Betreuung der Firmenwebseite</p>
            </div>

        </div>

        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2020</p>
            </div>

            <div class="tl-content">
                <h1>IT-Management/ Buchhaltung</h1>
                <p>Betreuung eines Onlineshops <br>Fussmattenprofi.com</p>
            </div>

        </div>
        <div class="tl-item">

            <div class="tl-bg"></div>

            <div class="tl-year">
                <p>2021</p>
            </div>

            <div class="tl-content">
                <h1> Schulung </h1>
                <p>Erlernen neuer Webtechnologien <br>Developer Academie</p>
            </div>

        </div>
    </section>

</div>