<div class="screenBackground">

    <div class="hOne">
        <h1>

            Über mich</h1>

    </div>

    <div class="contain">
        <div class="txt">

            <p>Mein Name ist Nermin Guendogdu!<br> Ich habe das Fach Medieninformatik an der <br>Beuth-Hochschule für Technik in Berlin studiert. <br> In meiner Freizeit spiele ich gerne <br> Tischtennis, Basketball und fahre <br> gern Motorrad.</p>



        </div>
        <div class="profile "><img src="assets/img/profile.jpg" alt=""></div>

    </div>
</div>