<div class="content">

    <!-- <h1 class="hOne"> Herzlich Willkommen auf meiner Webseite !</h1> -->
    <div class="flex">

        <div class="intro">
            <p class="txt">Hallo, mein Name ist: <span class="greet"> Nermin Guendogdu.</span> <br> Und ich bin:
                <br> <span class="greet">Frontend Entwicklerin! <br>
                </span>
            </p>
            <div class="profile">
                <img src="assets/img/profile.jpg" alt="">
            </div>
        </div>

        <div class="mail">
            <a href="#contact" class="btn">Mail me </a>
            <img class="mailPic" src="assets/img/mail.png" alt="">

        </div>

    </div>


</div>