<div class="content">

    <!-- <h1 class="hOne"> Herzlich Willkommen auf meiner Webseite !</h1> -->
    <div class="flex">

        <div class="intro">
            <span>
                <p class="txt">Hallo, mein Name ist:</p>
                <div class="bigLetter">
                    <div class="letterColor">Nermin</div> Gündogdu.</div>

                <p class="txt"> Und ich bin:</p>
                <div class="letter">
               Front End Entwickler<font color=" #2DFCD8"><b>i</b></font>n! <br>
            </div>
                </span>
            <div class="profile">
                <img src="assets/img/profilB.jpg" alt="">
            </div>
        </div>

        <div class="mail">
            <a href="contact" class="btn">Mail me </a>
            <img class="mailPic" src="assets/img/mail.png" alt="">

        </div>
    </div>
</div>