<div class="nav">



    <div class="logo">
        <img src="assets/img/logoWhite.png">
    </div>

    <div class="menu">
        <a routerLink="/">Home</a>
        <a routerLink="/about-me">About</a>
        <a routerLink="/projekte">Portfolio</a>
    </div>

</div>



<!-- mobileMenu -->
<header>
    <nav class="navigation-menu">
        <label class="hamburger-icon" aria-label="Open navigation menu" for="menu-toggle">&#9776;</label
    >
    <input type="checkbox" id="menu-toggle" />
    <ul class="main-navigation">
      <li><a routerLink="/">Home</a></li>
      <li><a href="#about-me">About</a></li>
      <li><a href="#projekte">Portfolio Us</a></li>
      
    </ul>
  </nav>
</header>