<div class="nav">



    <div class="logo">
        <img src="assets/img/logoWhite.png">
    </div>

    <div class="menu">
        <a routerLink="/">Home</a>
        <a routerLink="/about-me">Über mich</a>
        <a routerLink="/projekte">Porjekte</a>
    </div>

</div>



<!-- mobileMenu -->
<div class="row">
    <input type="checkbox" id="hamburg">
    <label for="hamburg" class="hamburg">
       <span class="line"></span>
       <span class="line"></span>
       <span class="line"></span>
    </label>

    <nav class="topmenu">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about-me">Über mich</a></li>
            <li><a routerLink="/projekte">Projekte</a></li>
        </ul>
    </nav>
</div>