                            //gesamter Container
                            .skills {
                                display: flex;
                                flex-direction: column;
                                background: #131111;
                                opacity: 1;
                                transition: opacity 0.5s ease;
                                overflow-x: hidden;
                            }
                            
                            // animierte Seitenüberschrift
                            .hOne {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 80px;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: bold;
                                font-size: 36px;
                                color: rgba($color: #204fdd3d, $alpha: 80.0);
                                position: relative;
                                animation: skill 6s linear;
                                overflow-x: hidden;
                                @keyframes skill {
                                    0% {
                                        transform: translateX(0%);
                                    }
                                    100% {
                                        transform: translateX(0%);
                                    }
                                }
                            }
                            
                            // fläche für die Bilder
                            .picArea1 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-right: 50px;
                                padding-left: 50px;
                                margin-top: 90px;
                            }
                            
                            .picArea2 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-right: 50px;
                                padding-left: 50px;
                                margin-top: 90px;
                            }
                            
                            .picArea3 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-right: 50px;
                                padding-left: 50px;
                                margin-top: 90px;
                            }
                            
                            // Abstände zwischen den Bildern
                            .space {
                                margin: 30px;
                            }
                            
                            // Rechteck
                            .square {
                                width: 183px;
                                height: 120px;
                                background-color: white;
                                border-radius: 8px;
                                margin-left: 20px;
                                margin-right: 20px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                            }
                            
                            .circle {
                                border-radius: 100%;
                                width: 30px;
                                height: 30px;
                                background-color: white;
                                box-shadow: 0 8px 12px 7px darkgrey;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 125px;
                                padding: 14px;
                            }
                            
                            // Animation der Icons
                            .iconPic {
                                width: 35px;
                                height: 35px;
                                margin: 180px;
                                position: relative;
                                animation: skill 6s linear;
                                @keyframes skill {
                                    0% {
                                        transform: translateX(0%);
                                    }
                                    100% {
                                        transform: translateX(0%);
                                    }
                                }
                            }
                            
                            // textAnimation
                            .txt {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                font-family: 'Inter';
                                font-style: normal;
                                color: black;
                                animation: skill 6s linear;
                                @keyframes skill {
                                    0% {
                                        transform: translateX(0%);
                                    }
                                    100% {
                                        transform: translateX(0%);
                                    }
                                }
                            }
                            
                            span {
                                color: rgba($color: #204fdd3d, $alpha: 80.0);
                                font-weight: bold;
                                font-size: 20px;
                            }
                            
                            //responsive
                            @media(max-width: 1000px) {
                                .hOne {
                                    font-size: 30px;
                                }
                                .skills {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                                .picArea1 {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    align-items: center;
                                    margin-top: 0;
                                }
                                .picArea2 {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    align-items: center;
                                    margin-top: 0;
                                }
                                .picArea3 {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    align-items: center;
                                    margin-top: 0;
                                }
                                .square {
                                    margin: 20px;
                                    width: 160px;
                                    height: 80px;
                                }
                                .circle {
                                    width: 15px;
                                    height: 15px;
                                    margin-top: 40px;
                                }
                                .iconPic {
                                    width: 25px;
                                    height: 25px;
                                    margin: 180px;
                                    position: relative;
                                }
                                .txt {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-size: 18px;
                                    font-weight: bold;
                                    color: black;
                                }
                                .space {
                                    margin-top: 30px;
                                }
                            }