<div class="skills">

    <h1 class="hOne"><a>Skills</a>
    </h1>

    <div class="picContent">
        <!-- Bilderreihe 1 -->
        <div class="picArea1">
            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/html5.png" alt="">

                    </div>


                </div>

                <span class="txt">HTML5</span>

            </div>

            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/css.png" alt="">

                    </div>

                </div>
                <span class="txt">CSSt</span>
            </div>

            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/Javascript.png" alt="">

                    </div>

                </div>
                <span class="txt">Javascript</span>
            </div>

        </div>

        <!-- Bildercontainer 2 Reihe -->
        <div class="picArea2">
            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/scrum.png" alt="">

                    </div>


                </div>

                <span class="txt">Scrum</span>

            </div>
            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/git.png" alt="">

                    </div>


                </div>

                <span class="txt">Git</span>

            </div>

            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/designThinking.png" alt="">

                    </div>

                </div>
                <span class="txt">Design Thinking</span>
            </div>





        </div>
        <!-- Bilderreihe 3 -->
        <div class="picArea3">

            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/api.png" alt="">

                    </div>

                </div>
                <span class="txt">Rest API</span>
            </div>

            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/testing.png" alt="">

                    </div>


                </div>

                <span class="txt">Test automation</span>

            </div>

            <div class="space">
                <div class="square">
                    <div class="circle">
                        <img class="iconPic " src="assets/icons/database.png" alt="">

                    </div>


                </div>

                <span class="txt">Database</span>

            </div>




        </div>

    </div>
</div>



<!-- animierte seitenÜberschrift -->


<!-- <h1 class="hOne">
        <a>Skills</a>
    </h1>

      icons für die skills 
    <div class="icons">
        <div class="groupIcon1">

            <div class=" space">
                <div class="box">
                     kreis im Hintergrunf 
                    <div class="iconCircle">
                    Icons  
              
        <div class=" space">
            <div class="box">
                <img class="imgSlide iconCircle" src="assets/icons/api.png " alt=" ">
                <span class="txt">Api</span>
            </div>
        </div>
    </div>


    <div class="groupIcon2">
        <div class=" space">
            <div class="box">
                <img class="imgSlide iconCircle" src="assets/icons/angular.png " alt=" ">
                <span class="txt">Angular</span>
            </div>
        </div>
        <div class=" space">
            <div class="box">
                <img class="imgSlide iconCircle" src="assets/icons/database.png " alt=" ">
                <span class="txt">Datenbanken</span>
            </div>
        </div>
        <div class=" space">
            <div class="box">
                <img class="imgSlide iconCircle" src="assets/icons/scrum.png " alt=" ">
                <span class="txt">Scrum</span>
            </div>
        </div>
    </div>
-->