<div class="skills">

    <!-- animierte seitenÜberschrift -->


    <h1 class="hOne">
        <a>Skills</a>
    </h1>

    <!--  icons für die skills -->
    <div class="icons">
        <div class="groupIcon1">

            <div class=" space">
                <div class="box">
                    <img class="imgSlide iconBackground " src="assets/icons/html5.png" alt="">
                    <span class="txt box1"> HTML5</span>

                </div>
            </div>

            <div class=" space">
                <div class="box">
                    <img class="imgSlide iconBackground" src="assets/icons/css.png " alt=" ">
                    <span class="txt">CSS</span>
                </div>
            </div>
            <div class=" space">
                <div class="box">
                    <img class="imgSlide iconBackground" src="assets/icons/Javascript.png " alt=" ">
                    <span class="txt">Javascript</span>
                </div>
            </div>
            <div class=" space">
                <div class="box">
                    <img class="imgSlide iconBackground" src="assets/icons/api.png " alt=" ">
                    <span class="txt">Api</span>
                </div>
            </div>
        </div>


        <div class="groupIcon2">
            <div class=" space">
                <div class="box">
                    <img class="imgSlide iconBackground" src="assets/icons/angular.png " alt=" ">
                    <span class="txt">Angular</span>
                </div>
            </div>
            <div class=" space">
                <div class="box">
                    <img class="imgSlide iconBackground" src="assets/icons/database.png " alt=" ">
                    <span class="txt">Datenbanken</span>
                </div>
            </div>
            <div class=" space">
                <div class="box">
                    <img class="imgSlide iconBackground" src="assets/icons/scrum.png " alt=" ">
                    <span class="txt">Scrum</span>
                </div>
            </div>
        </div>
    </div>
</div>