                            .skills {
                                display: flex;
                                flex-direction: column;
                                height: 100vh;
                                //margin-right: 100px;
                                //margin-left: 100px;
                                background: rgb(2, 0, 36);
                                opacity: 1;
                                transition: opacity 0.5s ease;
                            }
                            
                            .hOne {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 80px;
                                font-family: 'Indie Flower', cursive;
                                color: rgba($color: #204fdd3d, $alpha: 80.0);
                                position: relative;
                                animation: skill 4s linear;
                                @keyframes skill {
                                    0% {
                                        transform: translateX(0%);
                                    }
                                    100% {
                                        transform: translateX(0%);
                                    }
                                }
                            }
                            
                            // fläche für die Bilder
                            .picArea1 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-right: 50px;
                                padding-left: 50px;
                                margin-top: 90px;
                            }
                            
                            .picArea2 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-right: 50px;
                                padding-left: 50px;
                                margin-top: 90px;
                            }
                            
                            .picArea3 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-right: 50px;
                                padding-left: 50px;
                                margin-top: 90px;
                            }
                            
                            // Abstände zwischen den Bildern
                            .space {
                                margin: 30px;
                            }
                            
                            // Rechteck
                            .square {
                                width: 183px;
                                height: 120px;
                                background-color: white;
                                border-radius: 8px;
                                margin-left: 20px;
                                margin-right: 20px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                            
                            .circle {
                                border-radius: 100%;
                                width: 30px;
                                height: 30px;
                                background-color: white;
                                border: solid 1px black;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 140px;
                                padding: 14px;
                            }
                            
                            // Animation der Bilder
                            .iconPic {
                                width: 35px;
                                height: 35px;
                                margin: 180px;
                                position: relative;
                                animation: skill 4s linear;
                                @keyframes skill {
                                    0% {
                                        transform: translateX(0%);
                                    }
                                    100% {
                                        transform: translateX(0%);
                                    }
                                }
                            }
                            
                            // textAnimation
                            .txt {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: -50px;
                                font-family: 'Indie Flower', cursive;
                                color: rgba($color: #204fdd3d, $alpha: 80.0);
                                position: relative;
                                animation: skill 6s linear;
                                @keyframes skill {
                                    0% {
                                        transform: translateX(0%);
                                    }
                                    100% {
                                        transform: translateX(0%);
                                    }
                                }
                            }
                            
                            span {
                                color: rgba($color: #204fdd3d, $alpha: 80.0);
                                font-weight: bold;
                                font-size: 20px;
                            }
                            
                            .imgSlide {
                                //  border-radius: 100%;
                                // object-fit: cover;
                                display: flex;
                                justify-content: space-between;
                                color: rgb(209, 9, 85);
                                margin-top: 60px;
                                //padding: 35px;
                                animation: 8s linear;
                                @keyframes skill {
                                    80% {
                                        transform: translateX(200%);
                                    }
                                    100% {
                                        transform: translateX(0%);
                                    }
                                }
                            }
                            
                            //responsive
                            @media(max-width: 1000px) {
                                .skills {
                                    height: 100vh;
                                }
                                .hOne {
                                    font-size: 20px;
                                    //margin-right: 20px;
                                    //margin-left: 20px;
                                }
                                .skills {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                                .picArea1 {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    align-items: center;
                                    margin-top: 0;
                                }
                                .picArea2 {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    align-items: center;
                                    margin-top: 0;
                                }
                                .picArea3 {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    align-items: center;
                                    margin-top: 0;
                                }
                                .square {
                                    margin: 20px;
                                    width: 160px;
                                    height: 80px;
                                }
                                .circle {
                                    width: 15px;
                                    height: 15px;
                                    margin-top: 60px;
                                }
                                .iconPic {
                                    width: 25px;
                                    height: 25px;
                                    margin: 180px;
                                    position: relative;
                                    animation: skill 4s linear;
                                    @keyframes skill {
                                        0% {
                                            transform: translateX(0%);
                                        }
                                        100% {
                                            transform: translateX(0%);
                                        }
                                    }
                                }
                                .txt {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-family: 'Indie Flower', cursive;
                                    font-size: 10px;
                                    font-size: 13px;
                                    font-weight: bold;
                                    color: #0d0b96;
                                    @keyframes skill {
                                        0% {
                                            transform: translateX(200%);
                                        }
                                        100% {
                                            transform: translateX(0%);
                                        }
                                    }
                                }
                                .groupIcon1 {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    padding-top: 30px;
                                }
                                .groupIcon2 {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    margin-top: 25px;
                                }
                                .box {
                                    margin-top: 30px;
                                }
                                .space {
                                    margin-top: 60px;
                                }
                            }